.top-buffer {margin-top:10px;}

.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px;
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em;
}



nav { 
  background-color: black; 
}

/* Times */
.agenda .agenda-time { width: 140px; }


/* Events */
.agenda .agenda-events {  }
.agenda .agenda-events .agenda-event {  }

@media (max-width: 767px) {

}

#lu-title-text { 
  text-decoration: none;
  font-family: 'antonioregular'; 
  font-size: 20px;
  position: relative;
  color: white;
  text-transform: uppercase;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 14px;
  
}

#site-title { 
  padding-left: 50%; 
   font-family: 'antonioregular'; 
  font-size: 20px;
  position: relative;
  color: white;
  text-transform: uppercase;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
  font-size: .8rem;

}

